<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="DeeplXML Translator Tests">
      <directory suffix=".php">./tests/testsuites</directory>
    </testsuite>
  </testsuites>
</phpunit>
